<h1>StaticPages#about</h1>
<p>This will be an about page for the app. The examlpe text entered here applies to Bike Berlin, for now, and on this page we will describe the shop.</p>
<h2>We're a local, family-owned shop with a long histroy in the Berlin biking community.</h2>