<h1>Get to Know Us!</h1>
<p>This will be an about page for the app. The examlpe text entered here applies to Bike Berlin, for now, and on this page we will describe the shop.</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= image_tag("berlin.jpg", class: "img-repsonsive about-image img1") %>
    </div>
    <div class="col-md-6 col-xs-12">
      <%= image_tag("bike_street.jpg", class: "img-repsonsive about-image img2") %>
    </div>
  </div><!-- end row -->
</div><!-- end container -->
<h2>We're a local, family-owned shop with a long histroy in the Berlin biking community.</h2>