<h1>StaticPages#contact</h1>
<p>Come meet our family, or reach out to us at this number or address! We'd love to answer your bike-related questions, and to help you find your perfect bike!</p>
<p>+55 55 55555</p>
<p>Osten Str. 22 44444 Berlin, Germany</p>