<h1>Home</h1>
<p class="date">Welcome! The date and time is <%= Time.now %></p>
<h1 id="welcome">Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<%= image_tag("single_bike.jpg", class: "img-responsive my-image") %>