<div class="panel panel-default thanks-panel">
  <div class="panel-body thanks-body">
    <p class="thank-you">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- end panel-body -->
</div><!-- endn panel -->

<%= image_tag("http://image.shutterstock.com/display_pic_with_logo/608479/608479,1317018136,2/stock-photo-balloons-flying-in-the-sky-85361044.jpg", :class => "img-responsive thanks-image") %>