// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#first-name, 
#last-name, 
#options {
  font-size: 3em;
}
h4,
p {
  text-align: center;
  color: white;
}
.option-links {
  display: inline-block;
}
.option {
  margin-left: 10px;
}

.option, 
.name {
  font-size: 2em;
}
.user-row1, 
.row.user-data {
  margin: 25px -15px 0;
  border-bottom: solid 1px white;
}
.container {
  width: 100%;
}
.col-md-4.col-xs-4.options-col {
  padding-left: 9%;
}
@media screen and (max-width: 770px){
  //MOBILE ONLY STYLES
  #first-name, 
  #last-name, 
  #options {
  font-size: 1.4em;
  }
  .option, 
  .name {
    font-size: 1.2em;
  }
  .user-row1, 
  .row.user-data {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: solid 1px white;
}}
.users-header {
  margin-top: 60px;
}
